
@{
    ViewBag.Title = "MenuCliente";
}
<h2 style="text-align:center">@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-5">
        <div class="row">
            <br />
            @Html.ActionLink("Historial Reservaciones", "HistorialReservasCliente", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>

    <div class="col-md-5">
        <div class="row">
            <br />
            @Html.ActionLink("Filtrar Paquetes por Lugar", "FiltrarPaquetesLugar", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>

    <div class="col-md-5">
        <div class="row">
            <br />
            @Html.ActionLink("Filtrar Paquetes por Precio", "FiltrarPaquetesPrecio", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <br />
            @Html.ActionLink("Realizar Reserva", "Create","Reservaciones", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>

</div>