@model IEnumerable<Eventos.Models.Recurso>

@{
    ViewBag.Title = "Index";
}

<h2>Registrar Recurso</h2>

<p>
    @Html.ActionLink("Registrar Recurso", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoRecurso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoRecurso)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idRecurso }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.idRecurso }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idRecurso })
        </td>
    </tr>
}

</table>
