@model IEnumerable<Eventos.Models.Paquete>

@{
    ViewBag.Title = "VerPaquetes";
}

<<<<<<< Updated upstream
    <h2 style="color:MediumSeaGreen">Paquetes</h2>

<p>
    @Html.ActionLink("Crear Paquete", "Create","Paquetes")
=======
<h2>Recursos</h2>

<p>
    @Html.ActionLink("Crear nuevo paquete", "Create","Paquetes")
>>>>>>> Stashed changes
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idPaquete })
            </td>
        </tr>
    }

</table>